<TableFilters
  @filterableColumns={{this.filterableColumns}}
  @onFilterUpdated={{this.onFilterUpdated}}
  @sortTable={{this.sortTable}}
/>

<div class="container">
  <table>
    <HoldingHeader @headerData={{@data.columns}} @sortTable={{this.sortTable}}/>
    <tbody>
      {{#each this.filteredHoldings as |row|}}
        <HoldingRow @rowData={{row}} />
      {{else}}
        Your filters did not return any results
      {{/each}}
    </tbody>
  </table>
</div>
