<TableFilters
  @filterableColumns={{this.filterableColumns}}
  @onFilterUpdated={{this.onFilterUpdated}}
  @sortTable={{this.sortTable}}
  @resultsCount={{this.resultsCount}}
/>

<div class="z-10 mainContainer rounded shadow-md overflow-auto border-box bg-white relative">
  <table class="w-full border-collapse">
    <HoldingHeader
      @headerData={{@data.columns}}
      @sorter={{this.sorter}}
      @sortBy={{this.sortBy}}
    />
    <tbody>
      {{#each this.filteredHoldings as |row|}}
        <HoldingRow @rowData={{row}} />
      {{else}}
        <div class="emptyState p-4 fixed text-gray-800 text-center rounded h-auto bg-white bg-white shadow-md">Your filters did not return any results</div>
      {{/each}}
    </tbody>
  </table>
</div>
