<div class="rangeFilterWrapper">
  <input
    min={{this.min1}}
    max={{this.max1}}
    type="number"
    value={{filterValue1}}
    {{on "input" (fn this.addMinimumRange)}}
  />
  <span>to</span>
  <input
    min={{this.min2}}
    max={{this.max2}}
    type="number"
    value={{filterValue2}}
    {{on "input" (fn this.addMaximumRange)}}
  />
</div>
