<div class="flex items-center justify-between space-x-2">
  <input
    class="bg-gray-200 rounded pt-2 pb-2 pr-4 pl-4 border-box w-full"
    id="inputFilter_{{this.idFriendlyName}}_0"
    min={{this.min1}}
    max={{this.max1}}
    type="number"
    value={{filterValue1}}
    {{on "input" (fn this.addMinimumRange)}}
  />
  <span class="block text-sm">to</span>
  <input
    class="bg-gray-200 rounded pt-2 pb-2 pr-4 pl-4 border-box w-full"
    id="inputFilter_{{this.idFriendlyName}}_1"
    min={{this.min2}}
    max={{this.max2}}
    type="number"
    value={{filterValue2}}
    {{on "input" (fn this.addMaximumRange)}}
  />
</div>
