<div class="filtersContainer">
  <ul class="appliedFilters">
    {{#if this.appliedFilters.length}}
      <li class="appliedFiltersHeader">Filters applied:</li>
    {{/if}}
    {{#each this.appliedFilters as |filter|}}
      <li class="appliedFilterButton">
        <span>{{filter.name}}:</span>
        <span>{{filter.value}}</span>
        <button {{on "click" (fn this.removeFilter filter)}}>
          <img src={{"images/close.svg"}}/>
        </button>
      </li>
    {{/each}}
  </ul>
  <button class="primaryButton" {{on "click" (fn this.showOptions)}}>
    <img src="/images/filters.svg" />
    <span>Add Filter</span>
  </button>
  {{#if this.optionsVisible}}
    <div class="shade" {{on "click" (fn this.hideOptions)}}></div>
  {{/if}}
  <ul class="slideOutMenu {{if this.optionsVisible "visible"}}">
    {{#each this.allFilters as |filter|}}
      <TableFilter
        @filter={{filter}}
        @updateFilter={{this.updateFilter}}
      />
    {{/each}}
  </ul>
</div>
