<div class="pl-4 pr-4 pt-4 last:mb-4">
  <label class="text-sm uppercase mb-2 block">
    {{@filter.filterName}}
  </label>
  {{#if this.isTextFilter}}
    <TextFilter
      @filter={{@filter}}
      @updateFilter={{@updateFilter}}
    />
  {{/if}}
  {{#if this.isSelectFilter}}
    <SelectFilter
      @filter={{@filter}}
      @updateFilter={{@updateFilter}}
    />
  {{/if}}
  {{#if this.isRangeFilter}}
    <RangeFilter
      @filter={{@filter}}
      @updateFilter={{@updateFilter}}
    />
  {{/if}}
</div>
