<div class="inputWrapper">
  <label>
    {{@filter}}
  </label>
  {{#if this.isTextFilter}}
    <TextFilter
      @filterName={{@filter}}
      @addFilter={{@addFilter}}
      @onFilterRemoved={{@onFilterRemoved}}
    />
  {{/if}}
  {{#if this.isSelectFilter}}
    <SelectFilter
      @filterName={{@filter}}
      @addFilter={{@addFilter}}
      @onFilterRemoved={{@onFilterRemoved}}
    />
  {{/if}}
  {{#if this.isRangeFilter}}
    <RangeFilter
      @filterName={{@filter}}
      @addFilter={{@addFilter}}
      @onFilterRemoved={{@onFilterRemoved}}
    />
  {{/if}}
</div>
