<div class="filtersContainer">
  <ul class="appliedFilters">
    <li class="appliedFiltersHeader">{{@resultsCount}} Results Found</li>
    {{#each this.appliedFilters as |filter|}}
      <li class="appliedFilterButton">
        <span>{{filter.name}}:</span>
        <span>{{filter.value}}</span>
        <button {{on "click" (fn this.removeFilter filter)}}>
          <img src={{"images/close.svg"}}/>
        </button>
      </li>
    {{/each}}
  </ul>
  <button class="primaryButton addFiltersButton" {{on "click" (fn this.showOptions)}}>
    <img src="/images/filters.svg" />
    <span>Add Filter</span>
  </button>
  {{#if this.optionsVisible}}
    <div class="shade" {{on "click" (fn this.hideOptions)}}></div>
  {{/if}}
  <ul class="slideOutMenu {{if this.optionsVisible "visible"}}">
    <li class="slideOutHeader">
      <h2>Available Filters</h2>
      <button {{on "click" (fn this.hideOptions)}}>
        <img src={{"images/close.svg"}}/>
      </button>
    </li>
    {{#each this.allFilters as |filter|}}
      {{#if isTextFilter}}
      {{/if}}
      <TableFilter
        @filter={{filter}}
        @updateFilter={{this.updateFilter}}
      />
    {{/each}}
  </ul>
</div>
