<div class="inputWrapper">
  <label>
    {{@filter.filterName}}
  </label>
  {{#if this.isTextFilter}}
    <TextFilter
      @filter={{@filter}}
      @updateFilter={{@updateFilter}}
    />
  {{/if}}
  {{#if this.isSelectFilter}}
    <SelectFilter
      @filter={{@filter}}
      @updateFilter={{@updateFilter}}
    />
  {{/if}}
  {{#if this.isRangeFilter}}
    <RangeFilter
      @filter={{@filter}}
      @updateFilter={{@updateFilter}}
    />
  {{/if}}
</div>
