{{#if this.showErrorMessage}}
  <div class="fixed z-30 top-0 left-0 ml-8 mt-2 bg-errorlight border-2 border-error px-4 py-2 rounded shadow text-error flex items-center">
    {{this.errorMessage}}
    <button {{on "click" (fn this.dismissError)}}><img class="h-3 ml-2" src={{"images/close-red.svg"}} /></button>
  </div>
{{/if}}

<div class="tableFilter pl-4 pr-4 pt-4 last:mb-4 {{if this.showErrorMessage "error"}}">
  <label class="text-sm uppercase mb-2 block">
    {{@filter.filterName}}
  </label>
  {{#if this.isTextFilter}}
    <TextFilter
      @filter={{@filter}}
      @updateFilter={{@updateFilter}}
    />
  {{/if}}
  {{#if this.isSelectFilter}}
    <SelectFilter
      @filter={{@filter}}
      @updateFilter={{@updateFilter}}
    />
  {{/if}}
  {{#if this.isRangeFilter}}
    <RangeFilter
      @filter={{@filter}}
      @updateFilter={{@updateFilter}}
      @showError={{this.showError}}
      @dismissError={{this.dismissError}}
    />
  {{/if}}
</div>
